* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier Prime", monospace;
}

.container {
    padding: 0 300px;
    margin: 0 auto;
}

body {
    width: 100%;
}

header {
    background-color: #0A3871;
}

.title {
    padding: 80px 24px 40px;
    color: #FFFFFF;
}

main {
    background-color: #FFFFFF;
}

.main-content {
    display: flex;
}

.section-1 {
    padding: 0 24px;
}

.text-area {
    margin: 100px 80px 10px 0;
    background-color: #D9D9D9;
    border: none;
}