* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier Prime", monospace;
}

.container {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

body {
    width: 100%;
}

header {
    background-color: #0A3871;
    min-width: 100%;
}

.title {
    padding: 80px 0 20px;
    color: #FFFFFF;
    font-size: 3em;
    text-align: center;
}

main {
    background-color: #FFFFFF;
    padding: 50px 0;
}

.main-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section-1,
.section-2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.input-label,
.output-label {
    font-size: 1.2em;
    color: #0A3871;
}

.text-area,
.message-area {
    width: 100%;
    padding: 20px;
    background-color: #D9D9D9;
    border: none;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.button-encrypt,
.button-decrypt,
.button-copy {
    color: #FFFFFF;
    background-color: #0A3871;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    width: 100%;
}

.button-copy {
    color: #0A3871;
    background-color: #FFFFFF;
    border: 1px solid #0A3871;
}

.button-copy:hover {
    background-color: #F0F0F0;
}